<div class="row">
    <div class="col-lg-12">
        <h3>{{pageTitle}}</h3>
        <p>{{pageContent}}</p>
    </div>
</div>

<div class="row">
    <div ng-repeat="employee in employees">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <img src="./assets/media/{{employee.pictureTypeFolderPath}}/{{employee.pictureFilename}}" height="100" width="100">
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <h4>{{employee.userFirstname}} {{employee.userLastname}}</h4>
                    <p><strong>{{employee.userRoleName}}</strong></p>
                    <p>E-mail: {{employee.userEmail}}</p>
                </div>
            </div>
        </div><br><br>
    </div>
</div>