
        <div class="row">
            <div class="col-lg-7">
                <h2>{{product.categoryName}}</h2>
                <h4>{{product.productName}}</h4>
                <p>{{product.productDescription}}</p>
                <h4><strong> DKK {{product.productPrice}},-</strong></h4>
            </div>
            <div class="col-lg-4">
                <img class="col-lg-8 pull-left" src="./assets/media/{{product.pictureTypeFolderPath}}/{{product.pictureFilename}}" height="" width="">
            </div>
        </div>
