<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Slipseknuden</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="./assets/js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="./assets/js/appController.js"></script>
  </head>

  <body ng-app="slipseknuden">

    <header>  
    
      <nav class="navbar navbar-inverse" ng-controller="navController">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-class="{active:isActive('/Hjem')}"><a href="#Hjem" title="Hjem">Hjem</a></li>
              <li ng-class="{active:isActive('/Om-Slipseknuden')}"><a href="#Om-Slipseknuden">Om Slipseknuden</a></li>
              <li ng-class="{active:isActive('/Garanti')}"><a href="#Garanti"> Garanti</a></li>
              <li ng-class="{active:isActive('/Kontakt')}"><a href="#Kontakt">Kontakt</a></li>
              <li ng-class="{active:isActive('/Nyheder')}"><a href="#Nyheder">Nyheder</a></li>
              <li ng-class="{active:isActive('/Produkter')}"><a href="#Produkter/0">Produkter</a></li>
              <form class="navbar-form navbar-right" role="search" id="searchForm">
                <div class="form-group">
                  <input type="text" id="search" class="form-control" placeholder="Search">
                </div>
                <button type="submit" id="btnSearch"><i class="fa fa-search fa-2x"></i></button>
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
              </form>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  </header>
  <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="./assets/media/logo.jpg" alt="">
        </div>
      </div>

<div class="row">
  <div class="col-lg-3 col-md-4">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h3>Produkter</h3>
        <nav class="navbar navbar-inverse navbar-left fullwidth" role="navigation" ng-controller="categoryController">
            <ul class="nav nav-stacked" ng-repeat="category in categories">
              <li class="sideMenu"><a href="#Produkter/{{category.categoryId}}" class="">{{category.categoryName}}</a></li>
            </ul>
        </nav>
      </div>
    </div>
    <div class="row" ng-controller="randomContentControl">
      <div class="col-lg-10 col-lg-offset-1 col-md-offset-1">
        
        <div ng-if="isNews" ng-repeat="article in news">
          <div class="row">
            <h4>{{article.newsTitle}}</h4>
            <p>
              {{article.newsContent}}
            </p>
            <p><a href="#Nyhed/{{article.newsId}}">LÆS MERE...</a></p>
          </div>
        </div>

        <div ng-if="isProducts" ng-repeat="product in products">
            <div class="row">
                <div class="col-sm-4">
                  <img src="./assets/media/{{product.pictureTypeFolderPath}}/{{product.pictureFilename}}" height="85" width="85">
                </div>
                <div class="col-sm-6">
                   <p>{{product.categoryName}}</p>
                  <p>{{product.productDescription}}</p>
                  <p><strong>DKK {{product.productPrice}},-</strong></p>
                </div>
                
                  <a href="#Produkt/{{product.productId}}" class="info-btn col-sm-offset-3">Info</a>
                 
                  <br><br>
            </div>
        </div>

      </div>
    </div>
  </div>

    <main class="col-lg-9 col-md-8" ng-view>
        
    </main>

  </div>
<hr>
      <footer ng-controller="footerControl">
          <div class="container">
            <div class="row">
              <div class="col-md-1"><a href="./admin/">Admin</a></div>
              <div class="col-md-1 col-lg-offset-2">{{shopTitle}}</div>
              <div class="col-md-2">{{shopAddress}}</div>
              <div class="col-md-1">{{shopZipcode}}</div>
              <div class="col-md-1">{{shopCity}}</div>
              <div class="col-md-1">{{shopEmail}}</div>
              <div class="col-md-1">{{shopBase}}</div>
              <div class="col-md-1">{{shopTelephone}}</div>
            </div>
          </div>
      </footer>
      <div class="row">
        &nbsp;
      </div>
    </div> 
  </div>
  </body>
</html>